<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="orbp" class="com.spring.ObscenityRemovingBeanFactoryPostProcessor">
		<property name="obscenitySet">
			<set>
				<value>bollocks</value>
				<value>winkey</value>
				<value>bum</value>
				<value>Microsoft</value>
			</set>
		</property>
	</bean>
	
	<bean id="simpleTest1" class="com.spring.ExampleTest1">
		<property name="connectionString" value="bollocks"/>
		<property name="password" value="imagenecup"/>
		<property name="username" value="Mic"/>
	</bean>
		
</beans>