<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:customtag="http://www.custom.tag/schema/tag"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.custom.tag/schema/tag
       http://www.custom.tag/schema/tag/custom-tag.xsd">

	  <customtag:customtag id="testBean" code="AB"></customtag:customtag>	
		
</beans>